#HeroSearch 
{
height:20px;
width:340px;
font-size:14pt;
padding:5px;
}

#banner 
{  
margin-top:0px;
margin-bottom:15px;
text-align: center;
font-size:50px;
background-color: deepskyblue;
color: white;
padding: 5px;
}

button 
{
background-color:red;
color:white;
padding:5px;
margin-bottom:10px;
}

.hidden 
{
visibility:hidden;
}

.visible
{
visbility:visible;
}

#result 
{
background-color:#FF4000;
color:#000000;
font-family: Helvetica;
}

#result-holder
{
background-color:#000000;
color:#FFFFFF;
text-align:center;

}